h1{
    color: rgb(68, 0, 131);
    text-align: center;
}

p{
    color: #231234;
    text-align: justify;
}

h1, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p::first-letter{
    font-size:120%;
}

body{
    background-image: url(https://yt3.ggpht.com/a/AATXAJxYoPZCgQUa7uN-UZK-DaG7iLoiFCJtcFbfjg=s900-c-k-c0xffffffff-no-rj-mo);

.alma{
    background-color: rgba(90,30,100,0.5);
}